<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <div class="card">
          <div class="header">
            <div class="row">
              <div class="col-md-6">
                <h4 class="title">Login</h4>
              </div>
              <div class="col-md-6">
                <span class="pull-right"
                  >For new account
                  <a routerLink="/auth/register">Register</a></span
                >
              </div>
            </div>
          </div>
          <div class="content">
            <form [formGroup]="loginFormGroup">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label>Username</label>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Username"
                      value=""
                      formControlName="username"
                    />
                    <div
                      *ngIf="
                        loginFormGroup.get('username').invalid &&
                        (loginFormGroup.get('username').dirty ||
                          loginFormGroup.get('username').touched)
                      "
                      class="alert alert-danger"
                    >
                      <div
                        *ngIf="loginFormGroup.get('username').errors.required"
                      >
                        username is required.
                      </div>
                      <div
                        *ngIf="loginFormGroup.get('username').errors.maxlength"
                      >
                        username cannot be more than 20 characters long.
                      </div>
                      <div
                        *ngIf="loginFormGroup.get('username').errors.minlength"
                      >
                        username must be at least 8 characters long.
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label>Password</label>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Password"
                      value=""
                      formControlName="password"
                    />
                    <div
                      *ngIf="
                        loginFormGroup.get('password').invalid &&
                        (loginFormGroup.get('password').dirty ||
                          loginFormGroup.get('password').touched)
                      "
                      class="alert alert-danger"
                    >
                      <div
                        *ngIf="loginFormGroup.get('password').errors.required"
                      >
                        password is required.
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <button
                (click)="login()"
                class="btn btn-info btn-fill pull-right"
                [disabled]="loginFormGroup.invalid"
              >
                Login
              </button>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
