<div class="global-acknowledgement-popup acknw-popup">
<md-dialog ng-cloak>
    <div class="md-dialog-content-heading pd-lr" layout layout-align="space-between end">
        <h2>{{mlaCtrl.title}}</h2>
    </div>
    <md-dialog-content>
        <div class="md-dialog-content-messsage">
            <p>{{mlaCtrl.message}}</p>
        </div>
    </md-dialog-content>
    <md-dialog-actions layout layout-align="center center" layout-padding>
        <md-button ng-click="mlaCtrl.cancel()" class="action-button">OK</md-button>
    </md-dialog-actions>
</md-dialog>
</div>
